*{
    box-sizing: border-box;

}


body{
    margin: 0;
    background-image: url(/alex-conradt-nrcSGDNf-wE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
     background-size: cover;
   display: flex;
   flex-direction: column;
    justify-content:center;
    align-items: center;
    color: black;

}


h1{
    font-size: 4rem;
    margin-top:-10rem;
}

.countdown-container{
    display: flex;

}

.big-text{
    font-size: 6rem;
    margin: 0 2rem;
   
}
.countdown-el{
text-align: center;

}

.container-el span{
    font-size: 1.5rem;
}


